.additional-item {
  padding: 20px;
}

.additional-item__link {
  text-decoration: none;
}

.additional-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(34, 34, 34, 1);
  text-transform: uppercase;
}

.additional-item__description {
  line-height: 14px;
}
