.catalog-additional__tille {
  color: $basic-font-color-three;
}

.catalog-additional__promo-wrapper {
  margin: 35px 0;
}

@media all and (min-width: $large-size) {
  .catalog-additional {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
    column-gap: 80px;
  }

  .catalog-additional__tille {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  .catalog-additional__list {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .catalog-additional__promo-wrapper {
    margin: 0;
    grid-column: 2/3;
    grid-template-rows: 2/3;
    align-self: center;
  }
}
