.contacts {
  padding: 26px 20px;
}
.contacts {
  background-color: rgba(242, 242, 242, 1);
}

.contacts__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}
