.fieldset {
  margin: 0;
  padding: 20px 0;
}

.fieldset-title {
  line-height: 26px;
  margin-bottom: 17px;
}

.fieldset__label,
.fieldset__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-font-color;
}

.fieldset__label {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 15px;
  align-items: center;
  margin-bottom: 13px;
}

.fieldset__label--summary,
.fieldset__label--message {
  margin-bottom: 0;
}

.fieldset__input--message {
  grid-column: 1/-1;
}

.fieldset__label--contacts-gap {
  column-gap: 10px;
}

.fieldset--style-one {
  border: none;
}

.fieldset--style-two {
  margin-bottom: 26px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: none;
  border-left: none;
}

.fieldset__input {
  font-family: "Oswald", "Arial", sans-serif;
  border: 2px solid rgba(231, 231, 231, 1);

  &:hover {
    border: 2px solid rgba(205, 205, 205, 1);
  }
}

.fieldset__input::placeholder {
  color: rgba(68, 68, 68, 1);
}

@media all and (min-width: $middle-size) {
  .fieldset__label-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 20px;
    column-gap: 40px;
  }
}

@media all and (min-width: $large-size) {
  .fieldset__label-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 104px;
  }
}
