.illustration {
  padding: 25px 0 40px 0;
  background-color: rgba(234, 234, 234, 1);
}

.illustration__title {
  @include reset();
  margin-bottom: 40px;
}

.illustration__description {
  margin-top: 0;
  margin-bottom: 20px;
}

.illustration__data {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.illustration__data-container {
  position: relative;
  min-width: 124px;

  @include flex(column, center, center, nowrap);
  justify-self: center;
  margin-bottom: 20px;
}

.illustration__data-container::before {
  position: absolute;
  content: "";
  min-width: 124px;
  top: -5px;
  bottom: 10px;
  left: 0;
  right: 0;
  border: 1px solid rgba(205, 205, 205, 1);
  border-radius: 5%;
}

.illustration__data-container-modified {
  grid-column: -1/1;
  justify-self: center;
  display: flex;
}

.illustration__data-description,
.illustration__data-title-common,
.illustration__data-description-common,
.illustration__range-label {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.illustration__data-description {
  margin: 8px;
  order: -1;
  font-size: 24px;
  line-height: 24px;
}

.illustration__data-title-common,
.illustration__data-description-common {
  font-size: 14px;
  line-height: 20px;
}

.illustration__data-description-common {
  margin: 0;
}

.illustration__data-title {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background-color: rgba(234, 234, 234, 1);
}

.illustration__image-range-container {
  text-align: center;
}

.illustration__range-label {
  font-size: 16px;
  line-height: 20px;
}

@media all and (min-width: $middle-size) {
  .illustration {
    background-color: $common-color;
  }

  .illustration__data {
    grid-template-columns: auto auto 1fr;
    column-gap: 42px;
    align-items: center;
  }

  .illustration__data-container {
    min-width: 162px;
  }

  .illustration__data-container::before {
    min-width: 162px;
    top: -5px;
    bottom: 5px;
    left: 0;
    right: 0;
    border: 1px solid rgba(205, 205, 205, 1);
    border-radius: 5%;
  }

  .illustration__data-container-modified {
    grid-column: 3/4;
    justify-self: end;
    align-self: start;
    flex-direction: column;
    padding-top: 10px;
  }

  .illustration__data-description-common {
    align-self: flex-end;
  }

  .illustration__data-title {
    font-size: 14px;
    line-height: 14px;
    padding-right: 5px;
    padding-left: 5px;
    background-color: $common-color;
  }

  .illustration__data-title-br {
    display: none;
  }

  .illustration__data-description {
    font-size: 30px;
    line-height: 37px;
  }

  .illustration__data-title-common,
  .illustration__data-description-common {
    font-size: 20px;
  }

  .illustration__image-range-container {
    text-align: center;
    min-height: 632px;
    background: linear-gradient(to bottom, $common-color 0%, $common-color 170px, rgba(234, 234, 234, 1) 170px);
  }

  .illustration__range-label {
    font-size: 20px;
    line-height: 30px;
  }
}

@media all and (min-width: $large-size) {
  .illustration {
    background: linear-gradient(to bottom, $common-color 0%, $common-color 179px, rgba(234, 234, 234, 1) 170px);
  }

  .illustration__container {
    display: grid;
    grid-template-columns: 1fr 591px;
    grid-template-rows: repeat(3, auto);
    column-gap: 193px;
    row-gap: 70px;
  }

  .illustration__title {
    grid-column: 1/2;
    margin-top: 0;
    margin-bottom: 76px;
  }

  .illustration__description {
    grid-column: 1/2;
    margin: 0;
  }

  .illustration__data {
    grid-template-columns: auto auto;
    grid-column: 1/2;
    margin: 0;
  }

  .illustration__data-title {
    background-color: rgba(234, 234, 234, 1);
  }

  .illustration__data-container-modified {
    grid-column: -1/1;
    justify-self: center;
    flex-direction: row;
  }

  .illustration__data-title-common {
    margin-left: -25px;
    margin-right: 100px;
  }

  .illustration__image-range-container {
    grid-column: 2/3;
    grid-row: 1/4;
    align-self: center;
    min-height: auto;
    background: transparent;
  }
}
