.logo-letters__img {
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media all and (min-height: $middle-size) {
  .logo-letters__img {
    margin: 0;
  }

}
