@media all and (max-width: $mobile-only) {
  .main-navigation {
    position: relative;
  }

 .main-navigation--nojs .main-navigation__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
  }

  .main-navigation__toggle {
    position: absolute;
    min-height: 26px;
    width: 24px;
    top: -50px;
    right: 15px;
    border: none;
    border-bottom: 2.5px solid $basic-font-color-three;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .main-navigation__toggle::before {
    position: absolute;
    top: 8px;
    left:0;
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: $basic-font-color-three;
    content: "";
    transition: 0.2s ease-in-out;
  }

  .main-navigation__toggle::after {
    position: absolute;
    bottom: 6px;
    left:0;
    display: block;
    width: 100%;
    height: 1.5px;
    background-color: $basic-font-color-three;
    content: "";
  }

  .main-navigation--closed .main-navigation__toggle {
    display: block;
  }

  .main-navigation--closed .main-navigation__list {
    display: none;
  }

  .main-navigation--opened .main-navigation__list {
    position: absolute;
    top: 0;
    left: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: $common-color;
    z-index: 3;
    opacity: 1;
  }

  .main-navigation--opened .main-navigation__toggle {
    transform: rotate(45deg) translateY(-10px) translateX(5px);
  }

  .main-navigation--opened .main-navigation__toggle::before {
    transform: rotate(90deg) translateX(16px);
  }

  .main-navigation--opened .main-navigation__toggle::after {
    display: none;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}

@media all and (min-width: $middle-size) {
  .main-navigation__toggle {
    display: none;
  }
}
