.main-index__promo,
.main-index__service {
  margin-bottom: 20px;
  margin-top: 15px;
}

.main-index__features {
  margin-bottom: 50px;
}

.main-index__promo {
  position: relative;
}

@media all and (min-width: $middle-size) {
  .main-index__features {
    margin-bottom: 0;
  }

  .main-index {
    padding-top: 100px;
  }
}

@media all and (min-width: $large-size) {
  .main-index {
    padding-top: 0;
  }

  .main-index__promo {
    margin-bottom: 82px;
  }
}
