.main-catalog__title {
  position: relative;
  margin-top: 27px;
  margin-bottom: 41px;
  text-align: center;
}

.main-catalog__title::after {
  position: absolute;
  bottom: -100%;
  right: 0;
  left: -30px;
  content: "";
  height: 1px;
  width: calc(100vw + 30px);
  background-color: rgba(230, 230, 230, 1);
}

@media all and (min-width: $middle-size) {
  .main-catalog {
    padding-top: 100px;
  }
}

@media all and (min-width: $large-size) {
  .main-catalog {
    padding-top: 0;
  }
}
