.program-form {
  display: grid;
  grid-template-columns: 1fr;
}

.program-form__button-field {
  @include flex(column, center, center, nowrap);
}

.program-form__button {
  margin-top: 14px;
  align-self: stretch;
}

@media all and (min-width: $middle-size) {
  .program-form__button-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: center;
    column-gap: 100px;
    margin-top: -31px;
    margin-bottom: 70px;
  }

  .program-form__button {
    align-self: center;
    max-width: 568px;
    max-height: 52px;
  }
}

@media all and (min-width: $large-size) {
  .program-form__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 80px;
    margin-bottom: 70px;
    margin-top: 70px;
  }
}
