.promo-action {
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: auto;
  justify-content: center;
}

.promo-action__img {
  grid-column: 1/1;
  grid-row: 1/1;
}

.promo-action__description {
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: end;
  justify-self: center;
  z-index: 1;
  font-size: 16px;
  line-height: 20px;
  color: $common-color;
  text-align: center;
}
