.promo {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
.promo {
  color:rgba(255, 255, 255, 1);
}

.promo {
  position: relative;
  background:
              url("../../img/decorative-images/mobile/promo-background.png") no-repeat 50% 50%;
}
.promo::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)) ;

}
.promo__description {
  text-transform: uppercase;
}

@media all  and (min-width: 768px) {
  .promo {
    font-size:20px;
    line-height:20px;
  }
  .promo {
    color: rgba(0, 0, 0, 1);
  }
}
