.section-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.section-title {
  color:rgba(255, 255, 255, 1);

}
@media all  and (min-width: 768px) {
  .section-title {
    font-size: 60px;
    line-height: 60px;
  }
  .section-title {
    color: rgba(0, 0, 0, 1);
  }
}
